body{
    background-image:url(./img/winter_bg3.jpg);
    display:grid;
    grid-template-columns: 1fr 9fr 1fr;
}

#img1{
    justify-self: left;
    align-self: center;
}

#img2{
    justify-self: right;
    align-self: center;
}



header{
    justify-items: center;
    background-color:dimgray;
    border: solid red 2px;
}

h1{
    font-size: 50px;
    color: #F6E9DC;
}

#kalender{
    margin:10px;
    background-color: #F6E9DC;
    grid-column: 2/3;
    margin:0px;
    border:solid 2px;
    padding:25px;
}

#veckodagar{
    margin-top:10px;
    margin-bottom:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh;
}

#veckodagar div{
    border:solid;
    border-color:red;
  background-color: lightgray; 
  font-size:25px;
}

#datum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
}

#datum div{
    border:solid;
    border-color:red;
background-color:beige;
font-size:50px;
text-align: center;
align-content: center;/* inte align-items eftersom det är "contenten" i "itemen" & inte "itemet", "itemet"/elementet här är då diven */
}

.ledig{
    margin-top:2.5%;
    margin-bottom:2.5%;
    justify-self: center;
    color:aliceblue;
    background-color:dimgray;
    border: solid;
    border-width: 1px;
    border-color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    grid-column: 2/3;
    width:50vh;
    height:15vh;
}

.jul{
color:red;
background-color: white;
}

.nyar{
background-color: goldenrod;
}/*samma med de här tre klasserna*/

.red{
    color:red;
}
footer{
    margin:20px;
    text-align:center;
    grid-column:2/3;
}
footer a{
    color:black;
    font-size: 25px;
    text-decoration: none;
}